modules = ["web", "nodejs-19"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "d"
mode = "sequential"
author = 52269125

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 80
